.header {
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
    text-decoration: none;
    color: plum;
}
.out {
    /* border: 20px; */
    border-color: cadetblue;
    /* color: cadetblue; */
  /* text-decoration: underline; */
  cursor: pointer;
  
}